<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ShopMapper">
    <insert id="addShop" parameterType="com.example.demo.pojo.Shop">
        insert into shop(sid,shopName,address,uid) values (#{sid},#{shopName},#{address},#{uid})
    </insert>

    <select id="getShopInfo" resultType="com.example.demo.pojo.Shop">
        select * from shop where uid=#{uid}
    </select>

    <update id="setShopInfo" parameterType="com.example.demo.pojo.Shop">
        update shop set shopName=#{shopName}
       <if test="address!=null">
            ,address=#{address}
        </if>
        <if test="detail!=null">
            ,detail=#{detail}
        </if>
        <if test="lat!=null">
            ,lat=#{lat}
        </if>
        <if test="lng!=null">
            ,lng=#{lng}
        </if> where uid=#{uid}
    </update>
</mapper>